@media (max-width: 767px) {
  .overview-graph,
  .customer-chart {
    height: 450px !important;
  }
}

@media (min-width: 768px) {
  .overview-graph {
    width: 70%;
  }
  .customer-chart {
    width: 30%;
  }
}

.overview-graph,
.customer-chart {
  height: 500px;
}
